<footer class="bg-white py-8 dark:bg-transparent">
  <div class="mx-auto max-w-5xl px-6">
    <a href="/" aria-label="go home" class="mx-auto block size-fit">
      <img class="size-8 dark:invert" src="/logo.svg" />
    </a>
    <p
      class="mt-4 text-center font-semibold text-lg text-gray-900 dark:text-white"
    >
      PraxJobs
    </p>

    <div class="my-8 flex flex-wrap justify-center gap-6 text-sm">
      <a href="/" class="text-body block hover:text-title">
        <span>Home</span>
      </a>
      <a href="/about" class="text-body block hover:text-title">
        <span>About</span>
      </a>
      <a href="/pricing" class="text-body block hover:text-title">
        <span>Pricing</span>
      </a>
      <a href="/help" class="text-body block hover:text-title">
        <span>Help</span>
      </a>
      <a href="/privacy-policy" class="text-body block hover:text-title">
        <span>Privacy Policy</span>
      </a>
    </div>
    <span class="text-caption block text-center text-sm"
      >&copy 2025 PraxJobs, All rights reserved</span
    >
  </div>
</footer>
