@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: theme('colors.indigo.600');
  --color-secondary: theme('colors.orange.600');
  --color-info: theme('colors.blue.600');
}